

:root {
    --nav-bar-item-hover-background-color: rgb(233, 169, 169);
    --nav-bar-dropdown-menu-background-color: aliceblue;
    --nav-bar-background-color: rgb(243, 243, 243);
    --nav-bar-item-color: black;
    --nav-bar-size: 60px;
    --logo-color: black;
    
    --section-prest-titles-background-color: rgb(29, 32, 211);
    --section-prest-background-color: rgb(255, 255, 255);

    --footer-background-color: rgb(253, 247, 247);
    --copyrightandicons-background-color: rgb(226, 144, 144);
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;

}
h1,h2 {
    text-align: center;
    padding:10px;
} 
a {
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
}
li{
    list-style-type: none;
    

}

/*************************** NAVIGATION ************************************/
/* Barre de navigation */

#nav-bar {
    background-color: var(--nav-bar-background-color); 
    border-bottom-left-radius: 20px ;   
    position: fixed;
    right: 0;
    left: 0;
    top: 0;  
    opacity : 0.9; 
    height : var(--nav-bar-size);
    z-index: 1;
}
 /* LOGO */
.logo {
    float: left;
    width: 30%;
    margin: 0;
    letter-spacing: 0.244em;

}
.logo a {
    color: var(--logo-color);
    text-align: left;
    /* padding: 0px; */
}


#nav-bar-menu {
    overflow: hidden; 
    margin: 0;
    padding: 0 19px; 
}

/* Lien du menu */
.navbar-link {
    color: var(--nav-bar-item-color);
    display: block;
    padding: 10px 18px;

    font-weight: 700;
}


/*********************** PRESTATION ---- DROPDOWN MENU ---- MENU ITEM *************************/

.nav-bar-item{
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: all.5s ease;
}
.nav-bar-item:hover {
    background-color: var(--nav-bar-item-hover-background-color);
}

/* dropdown menu */
.fa-caret-down {
    transition: all .7s ease-in-out;
}

.nav-bar-item:hover .fa-caret-down {
    transform: rotate(180deg);    
}
.dropdown-menu-content {
    background-color: var(--nav-bar-dropdown-menu-background-color);
    position: absolute;
    max-height: 0;
    padding: 0;
    opacity: 0.9;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    
}
/* Lien dropdown*/
.dropdown-link {
    color: var(--nav-bar-item-color);
    padding: 12px 16px;
    display: none;
    width: 8rem;
    transition: all .7s ease-in-out;
    

}
/* Au survol du menu dropdown avec la souris*/
.nav-bar-item:hover .dropdown-menu-content {
    color : var(--nav-bar-background-color);
    max-height: 15rem;
}
.nav-bar-item:hover .dropdown-link {
    display: block;    
}
/* ********************* NAV TOGGLE ********************************************************* */
#nav-toggle {
    position: absolute;      
    display:none;
}
nav .icon-burger {
    position: absolute;
    display: none;
    right: 30px;
    top: 50%;
    transition: all 0.5s ease-in-out;
}
nav .icon-burger .line{
    background-color: var(--nav-bar-item-color);
    transition: all 0.5s ease-in-out;
    border-radius: 3px;
    width : 30px;
    height: 5px;
    margin: 4px;
}

/* ******************* CONDITION SUR LA TAILLE DE LA FENETTRE *********************************/ 
@media screen and (max-width:700px){
    
    /* RESPONSIVE MENU BAR  */
    .logo{
        text-align: left;
    }
    #presentation{
        width: 90%;
    } 
    #nav-bar-menu{
        background-color: var(--nav-bar-background-color);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
        position:fixed;
        display: flex;
        transition: all .3s ease-in-out;
        flex-direction: column;
        opacity: 0.8;
        top: var(--nav-bar-size);
        right: 0;
        z-index: 0;
        max-height: 0;
        width: 12rem;
    }


    .nav-bar-item, .dropdown-menu-content {
        width:100%;
        font-size: 20px;
    }
    nav :checked ~ .icon-burger{
        transform: translateY(-20%);
    }
    nav :checked ~ #nav-bar-menu{
        max-height:16rem ;
    }

    nav .icon-burger {
        display: block;
        z-index: 2;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform:translateY(9px) rotate(225deg); 
    }
    nav :checked ~ .icon-burger .line:nth-child(2){
        opacity: 0 ;     
    }
    nav :checked ~ .icon-burger .line:nth-child(3){
        transform:translateY(-9px) rotate(-225deg); 
    }

    
    /* RESPONSIVE DROPDOWN MENU CONTENT */
    .dropdown-menu-content{
        
        position: relative;
        overflow: hidden;
        max-height: 0;
    }
    .nav-bar-item:hover .dropdown-menu-content {
        max-height: 15rem;

    }
 
}


/************************************ CORPS DU SITE ***********************************/

/* PRESENTATION */
section{
    margin: auto 5%;

}
#acceuil {
    background: url(aedrian-aECyL9yaHHw-unsplash.jpg) fixed;
    height: 500px;
}

#presentation {
    background-color: var(--nav-bar-background-color);
    margin-top: 300px;
    margin-left: 5%;
    margin-right: 50%;
    border-radius: 20px;    
    opacity: 0.9;
    float: left;
    right: 50%;
}

/* PRESTATION */
#prestation {
    clear: both;
}
#prestation h2 {
    background-color: var(--section-prest-titles-background-color);
    height: 100px;
    
}


#prestation #analyse,
#prestation #formation{ 
    justify-content: space-around;
    display: flex;
    flex-wrap:  wrap;
} 

.presta,
.prestf{ 
    background-color: var(--section-prest-background-color);
    margin-bottom: 5rem;
    margin-top: -80px;
    height: 50%;
    width: 500px
} 



#realisation h1{
    margin-bottom: 50px;
}

.reference {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

.reference img {  
    min-height: 0;
    min-width: 0;
    height:8vh;
}
.active {
    border-top: 3px solid maroon;
    transition: all 0.3s ease-in-out;
}
/* ************************************** FOOTER ****************************************/

footer { 
    background-color: var(--footer-background-color);
    /* padding: 20px 0 10px 0; */
    text-align: center;
}

form {
    max-width: 900px;
    margin: 0 auto;
}
input,
textarea{
    border-bottom: 2px solid maroon;
    
}
input,
textarea,
button{
    padding: 15px 10px;
    border-radius: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    
    margin: 5px 0;
    width:55%;
    font-size: 1.2em;
} 
textarea { 
    resize: vertical;
    height: 100px;
    max-height: 200px;
    min-height: 100px;
}
button:hover{
    cursor: pointer;
    color: var(--nav-bar-item-hover-background-color)
}

.trait {
    height: 3px;
    margin: 20px 30%;
    background-color: black;
    border-radius: 3px;
}
#copyrightandicons { 

    background-color: var(--copyrightandicons-background-color);
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    text-align: center;
    
}


/**************** ANIMATION **********************/
@keyframes slide {
    from {
        transform: translateY(500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1; 
    }
}
.img-animation {
    animation: slide .5s;
}

hr {
    position : fixed;
    top:50%;
    left:0;
    right:0;
    background-color:red;
    border:none;
    height: 1px;

}

