@import url("https://fonts.google.com/specimen/Montserrat?query=mont+");



header{
    padding: 5px;
    max-width: 1000px;
    margin: 0 auto;
}

#nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10%;
    justify-content: center;
    /* justify-content: space-between; */
}

#navigation {
    list-style-type: none;
    display: inline-block;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
}

#navigation > li {
    margin: 0 10px;
}


.hide{
    display: none;
}