#references {
    text-align: center;
    
}
#company,
#analytics-tools {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

}
#references  ul {
    list-style-type: none;
    /* 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px; */
    
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 150px);
  grid-auto-columns: auto;
  gap: 10px;
}

#references ul > li {
    width: 100px;
    height: auto;
    margin: auto;
}
#references ul > li img{
    box-sizing: content-box;
    width: 100%;
    height: auto;
    display: block;
    /* filter: grayscale(100%); */
    filter: grayscale(100%) sepia(100%) hue-rotate(-50deg) saturate(500%) brightness(90%);
    transition: filter 0.3s ease;
}

#references ul > li img:hover{
    box-sizing: content-box;
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(0);
}
