/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 5px; /* Horizontal scrollbar height */
}

/* Track color */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Scrollbar thumb color */
::-webkit-scrollbar-thumb {
    background: #0C83DF;
    border-radius: 5px; /* optional rounded edges */
}

/* Scrollbar thumb color on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Remove scrollbar arrows in Chrome, Edge, and Safari */
::-webkit-scrollbar-button {
    display: none;
}

/* Firefox scrollbar styling */
html {
    scrollbar-width: thin; 
    scrollbar-color: #0C83DF transparent;
}
