:root {
  --color-primary: #dd703a;
  --color-background: #d7b089;
  --color-background-transparent: #e5ac7263;
  --color-background-opaque: #e5ac72;
  --text-size-min: 5px;
  --text-size-prefered: 7vw;
  --text-size-max: 30px;
  --color-accent: #b07e65;

  font-size: clamp(
    var(--text-size-min),
    var(--text-size-prefered),
    var(--text-size-max)
  );

  font-family: Arial, Helvetica, sans-serif;

  background-color: #f6f6f6;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

li > a:hover {
  color: #ff5733;
}

a:active {
  color: #cc4426;
}

a:focus {
  outline: 2px dashed #ff7961;
  /* text-decoration: none; */
  outline: none;
}

a:visited {
  color: #b75749;
}
section {
  margin: 10% auto;
}

h2 {
  color: var(--color-primary);
}

section:nth-child(2) {
  margin-top: 10%;
}

.imglist {
  scrollbar-width: none; /* Firefox */
}
.imglist {
  cursor: url('../../images/sets/scroll/scroll-horizontal-converted.cur') 16 16, auto;
}
.imglist::-webkit-scrollbar {
  display: none;
}
header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgb(250, 235, 215);
  z-index: 10;
}

#header-banner {
  text-align: center;
  width: 100%;
  background-color: var(--color-background-opaque);
  font-size: clamp(0.5rem, 3vw, 0.7rem);
}
header > nav {
  padding: 5px;
  /* margin-top: 10px; */
}
header > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  padding: 0;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

header > nav > ul > li#logo {
  flex-grow: 1;
  text-align: center;
  font-size: clamp(0.5rem, 3vw, 2rem);
}
header > nav > ul > li#logo > div#imgroup {
  display: flex;
  justify-content: center;
  gap: 10%;
  row-gap: 10px;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 auto;
}
header > nav > ul > li#logo > div#imgroup > img {
  flex-grow: 1;
  max-width: 15%;
}

header > nav > ul > li.items > div > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  padding: 0;
}
header > nav > ul > li.items > div > ul > li > a.navbar-link img {
  width: 3vw;
  max-width: 50px;
  height: auto;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
header > nav > ul > li.items > div > ul > li#contact {
  background-color: var(--color-background-opaque);
  padding: 10% 10%;
  border: none;
  border-radius: 10%;
  font-size: clamp(0.5rem, 3vw, 1rem);
}
header > nav > ul > li.items > div > ul > li#contact:hover {
  background-color: var(--color-background-transparent);
}

main > section#banner {
  /* height: 300px; */
  width: 100%;
  max-width: 1000px;
  margin: 50% auto 20%;
  position: relative;
  overflow: hidden;
}

main > section#banner > hgroup {
  width: 100%;
  transition: width 2s ease-in-out;
}

main > section#banner > hgroup > h1,
main > section#banner > hgroup > p {
  margin: 0;
  text-align: right;
  /* padding-right: 5vw; */
}
/* main > section#banner > div#imgroup {
  --image-size: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  row-gap: 30px;
  }
  main > section#banner > div#imgroup > img {
    }
    
    main > section#banner > div#imgroup > img {
      width: var(--image-size);
      height: auto;
      }
      main > section#banner > div#imgroup::-webkit-scrollbar {
        display: none;
        } */
/* @media (min-width: 1000px) {
          main > section#banner {
            }
            main > section#banner > hgroup {
              }
              } */

@media (min-width: 1000px) {
  main > section#banner {
    margin: 0px auto 10%;
    height: 300px;
    overflow: visible;
  }
  main > section#banner > hgroup {
    position: absolute;
    padding: 30px;
    bottom: -20%;
    right: 0;
    width: 50%;
    font-size: clamp(0.5rem, 5vw, 1rem);
    /* max-width: 850px; */

    background-color: var(--color-background-transparent);
  }
  /* main > section#banner > div#imgroup {
    justify-content: end;
    padding-right: 25%; 
  } */
  main > section#banner > hgroup > h1,
  main > section#banner > hgroup > p {
    font-size: clamp(0.5em, 3vw, 0.8em);
  }

  main > section#banner > div#imgroup > img {
    flex-grow: unset;
  }
}

main > section#greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  /* justify-content: center; */
  /* gap: 5vw; */
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}

main > section#greeting > div#image-container {
  width: 100%;
  /* height: 10%; */
  margin-bottom: -20%;
  text-align: center;
  /* min-height: 200px; */
  transition: all 0.3s ease-in-out;
}
main > section#greeting > div#image-container img {
  width: 70%;
  max-width: 350px;
  min-width: 300px;
  height: auto;
  /* box-shadow: 0px 200px 10px 50px var(--color-background-transparent); */
}

@media (max-width: 900px) {
  main > section#greeting > div#image-container {
    margin-bottom: -30%;
    width: 100%;
  }
  main > section#greeting > div#image-container img {
    min-width: unset;
    width: 100%;
  }
  @media (max-width: 600px) {
    main > section#greeting > div#image-container {
      margin-bottom: -40%;
    }
    @media (max-width: 500px) {
      main > section#greeting > div#image-container {
        margin-bottom: -50%;
      }
    }
  }
}

main > section#greeting > div#text-container {
  background-color: var(--color-background-opaque);
  font-size: clamp(0.7rem, 3vw, 1rem);
  padding: 10px;
  /* flex-grow: 1; */
  width: 100%;
  max-width: 500px;
}

@media (min-width: 883px) {
  main > section#greeting > div#image-container img {
    box-shadow: -50px 30px 0px 0px var(--color-background-transparent);
  }
  @media (min-width: 1000px) {
    main > section#greeting {
      gap: 2vw;
      align-items: center;
    }
    main > section#greeting > div#text-container {
      width: 50%;
      max-width: 500px;
      min-height: 400px;
      font-size: clamp(0.5em, 3vw, 0.5em);
      width: fit-content;
      padding-right: unset;
    }
    main > section#greeting > div#image-container {
      width: fit-content;
      height: auto;
      padding: unset;
      margin: unset;
    }
    main > section#greeting > div#image-container > img {
      height: auto;
      /* box-shadow: 50px 100px 50px var(--color-background-transparent); */
    }

    @media (min-width: 1300px) {
      main > section#greeting > div#image-container {
        /* height: auto; */
      }

      @media (min-width: 1500px) {
        /* main > section#greeting > div#image-container {
        text-align: left;
        } */
        /* main > section#greeting > div#image-container > img {
        width: 100%;
        height: auto;
        box-shadow: 50px 100px 50px var(--color-background-transparent);
        } */
        main > section#greeting > div#text-container {
          width: 40%;
          /* max-width: 500px; */
        }
      }
    }
  }
}
main > section#greeting > div#text-container > p {
  margin: 20px 0;
  font-size: clamp(1em, 3vw, 1.5em);
  padding: 5px;
}

main > section#greeting > div#text-container > p#greet {
  font-size: clamp(2em, 3vw, 2em);
  color: antiquewhite;
}
main > section#greeting > div#text-container > p.text {
  font-size: clamp(1em, 3vw, 1.5em);
  padding-left: 5%;
}
main > section#greeting > div#text-container > p#credo {
  font-size: 1em;
  padding-left: 10%;
}

main > section#services > h2,
main > section#references > h2 {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 50px;
}

main > section#services > div.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
}

main > section#services > div.items > div.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  font-size: clamp(0.7em, 3vw, 1em);
}

main > section#services > div.items > div.item > ul.text {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}
main > section#services > div.items > div.item > ul.text > li {
  margin: 10px 0;
  white-space: nowrap; /* empêche le retour à la ligne */
  overflow: hidden; /* évite les débordements visibles */
  text-overflow: ellipsis; /* optionnel : ajoute "..." si trop long */
  font-size: clamp(0.8em, 1%, 0.5em);
  text-align: center;
  /* padding-left: 10%; */
}
main > section#services > div.items > div.item > div {
  position: relative;
}
main > section#services > div.items > div.item > div > img {
  position: absolute;
  width: 30vw;
  max-width: 40px;
  bottom: 0;
  background-color: var(--color-background-opaque);
  padding: 2%;
  border: none;
  border-radius: 10px;
}

main > section#services > div.items > div.item > div > h3 {
  text-align: center;
  position: relative;
  padding-bottom: 50px;
  transition: all 0.5s ease-in-out;
}
main > section#services > div.items > div.item > div > h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 10px;
  background-color: var(--color-background-opaque);
  box-shadow: 10px 10px 20px var(--color-primary);
}

main > section#services > div.items > div.item > div > h3 > span {
  color: #af782a;
}

main > section#services > div.items > div.item > p.service-item {
  font-size: clamp(0.5em, 4vw, 1em);
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0px 20px 10px var(--color-background);
  color: var(--color-accent);
}
/* @media (min-width: 1000px) { */

@media (min-width: 1500px) {
  main > section#services > div.items > div.item {
    max-width: 600px;
    font-size: 1em;
  }
  @media (min-width: 2000px) {
    main > section#services > div.items > div.item {
      width: 350px;
      font-size: 0.7em;
    }
  }
}
/* } */

main > section#references > div.items {
  /* --bg-image: linear-gradient(transparent , var(--color-background) 50%, #d7b089 75%); */
  --bg-image: linear-gradient(
    to top,
    white 10%,
    var(--color-background-transparent) 50%,
    white
  );

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 3vw; */
  height: 100%;
}
main > section#references > div.items > div.item {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 90vw;
  max-height: 500px;
  background-size: 110%;
  background-repeat: no-repeat;
}
main > section#references > div.items > div.item:nth-child(1) {
  background-image: var(--bg-image), url("../../images/sets/references/ds2.jpg");
}
main > section#references > div.items > div.item:nth-child(2) {
  background-image: var(--bg-image),
    url("../../images/sets/references/image.jpg");
}
main > section#references > div.items > div.item:nth-child(3) {
  background-image: var(--bg-image),
    url("../../images/sets/references/image2.jpg");
}

main > section#references > div.items > div.item > div.imglist {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  justify-content: flex-start;
  gap: 10%;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  background-color: transparent;
  pointer-events: none;
  /* box-shadow: 0px 0px 250px #d7b089; */
  border: none;
}
.imglist img:first-child {
  margin-left: 100px;
}
.imglist img:last-child {
  margin-right: 100px;
}


main > section#references > div.items > div.item > div.imglist > img.img {
  width: 15vw;
  max-width: 100px;
  object-fit: contain; /* crop instead of distort */
  aspect-ratio: 1/1;
  transition: all 0.8s ease-in-out;
  /*;
  margin-right: 10px;
  flex-shrink: 0;     /* prevent shrinking if inside a flexbox */
}

main > section#references > div.items-inline {
  display: none;
}
@media (min-width: 1000px) {
  main > section#references > div.items {
    display: none;
  }
  main > section#references {
    position: relative;
    overflow: hidden;
    max-width: 2000px;
    height: 750px;
    border: none;
  }
  main > section#references > div.items-inline {
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        #F6F6F6 10%,
        var(--color-background-transparent) 50%,
        #F6F6F6
      ),
      url("../../images/sets/references/ds2.jpg"),
      url("../../images/sets/references/image.jpg"),
      url("../../images/sets/references/image2.jpg");
    background-position: center top, left top, right top, center center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain;
  }
  main > section#references > div.items-inline > div.item {
    background-color: #f6f6f674;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  main > section#references > div.items-inline > div.item > div.imglist {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 50px;
    width: 100%;
  }
  main
    > section#references
    > div.items-inline
    > div.item
    > div.imglist
    > img.img {
    width: 25vw;
    max-width: 200px;
    object-fit: contain; /* crop instead of distort */
    aspect-ratio: 1/1;
    transition: all 0.8s ease-in-out;
  }
}
footer {
  display: flex;
  flex-direction: column;
  /* justify-content: right; */
  gap: 5%;
  row-gap: 10px;
  max-width: 2500px;
  margin: 0 auto;
  background-color: var(--color-background-opaque);
  font-size: clamp(0.5rem, 3vw, 0.7rem);
}

footer > div#footer-logo {
  display: flex;
  flex-direction: column;
  /* height: 300px; Set to the height you want */
  font-size: clamp(0.5em, 3vw, 1em);
  padding: 10px;
  border-bottom: 15px double white;
}
footer > div#footer-logo > p.logo {
  font-size: clamp(1rem, 3vw, 2rem);
  color: whitesmoke;
  flex-grow: 1;
}
footer > div#footer-logo > div#social-media {
  display: flex;
  align-items: end;
  width: 100%;
  gap: 3vw;
}
footer > div#footer-logo > div#social-media img {
  width: 3vw;
  max-width: 70px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

footer > form {
  height: auto;
}
footer > form > fieldset {
  margin: 0 auto;
  padding: 0;
  border-right: 0;
  border-left: 0;
  border-right: 0;
  border-color: white;
  border-style: solid;
}
footer > form > fieldset > div {
  margin: 2%;
}
footer > form > fieldset > div > input {
  font-size: 0.7rem;
  width: 100%;
  max-width: 700px;
}

footer > form > fieldset > div:nth-child(4) {
  display: block;
}
footer > form > fieldset > div:nth-child(4) > label {
  display: block;
  width: 100%;
}

footer > form > fieldset > div:nth-child(4) > textarea#message {
  box-sizing: border-box;
  resize: none;
  height: 150px;
  width: 100%;
  padding: 20px;
  font-size: 0.8rem;
  max-width: 1000px;
}

footer > form > fieldset > button {
  background-color: #af782a;
  width: 20%;
  min-width: 100px;
  max-width: 200px;
  /* padding: 2%; */
  font-size: 0.8em;
  /* margin: 0 auto; */
  border: none;
  border-radius: 5% 5% 30% 5%;
}
@media (min-width: 1000px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: end; */
    justify-content: center;
  }
  footer > div#footer-logo {
    width: 40%;
    height: auto;
  }
  footer > form {
    width: 50%;
  }
}

footer > div#CR {
  width: 100%;
  text-align: right;
  font-size: 0.5em;
}

.animate-on-visible {
  opacity: 0.5;
  /* background-color: red; */
}
.visible {
  animation: appear 0.8s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
